<div class="max-w-4xl mx-auto mt-6 font-quest font-normal">
  <div class="p-6 bg-gray-50 shadow rounded" *ngIf="hero">
    <div class="bg-white p-4">
      <h2 class="my-3 p-2 bg-primary text-white font-extrabold rounded">
        {{ hero.name | uppercase }}
      </h2>
      <div class="p-2">
        <div class="flex">
          <span class="w-2/6">id: </span>
          <span class="w-full">{{ hero.id }}</span>
        </div>
        <div class="flex">
          <label for="hero-name" class="w-2/6">Change name: </label>
          <input
            id="hero-name"
            [(ngModel)]="hero.name"
            placeholder="name"
            class="bg-purple-100 w-full p-1 rounded"
          />
        </div>
        <div class="flex justify-between mt-6 text-white font-extrabold">
          <button (click)="goBack()" class="py-1 px-4 bg-red-300 rounded">
            go back
          </button>
          <button (click)="save(hero)" class="py-1 px-4 bg-purple-700 rounded">
            save
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
