<div
  class="
    flex flex-col
    container
    max-w-4xl
    mx-auto
    my-20
    p-6
    content-center
    justify-center
    font-quest font-normal
    bg-gray-50
    shadow
    rounded
  "
>
  <div class="bg-white p-3">
    <app-hero-search></app-hero-search>
    <h2 class="mt-8">New Heroes</h2>
    <div class="mt-4">
      <a
        *ngFor="let hero of heroes"
        routerLink="/detail/{{ hero.id }}"
        class="
          py-2
          px-4
          mx-1
          bg-purple-700
          text-white
          font-extrabold
          rounded-full
          hover:bg-purple-400
          shadow
        "
      >
        {{ hero.name }}
      </a>
    </div>
  </div>
</div>
